body{
    font-family: 'Poppins', sans-serif;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 3%;
}
.align-center{
    text-align: center;
    color: white;
}
.bg-one{
    background-image: url(images/bg\ one.png);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.photo-align{
    margin-left: 50%;
    margin-right: 50%;
}
.orange-color{
    color: orange;
}
div{
    padding-left: 5%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(purple, cyan);
    padding: 10px 2px;
    border-radius: 3px;
    color:black;
    font-weight: 3px;
}
.display{
    display: flex;
    background-image: url(images/bg\ two.png);
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    padding: 5%%;
}
.half-width img{
    width: 100%;
}