body{
    font-family: 'Poppins', sans-serif;
    margin-left: 0%;
    margin-right: 0%;
}
.align-center{
    text-align: center;
    padding: 100px 400px;
}
.bg-one{
    background-image: url(images/bg\ one.png);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.photo-align{
    margin-left: 50%;
    margin-right: 50%;
}
.orange-color{
    color: orange;
}
div{
    padding-left: 5%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(purple, cyan);
    padding: 10px 2px;
    border-radius: 10px;
    color:black;
    font-weight: 3px;
}
.bg-two{
    display: flex;
    background-image: url(images/shapes/Frame\ 56.jpg);
}
.half-width{
    width: 50%;
    padding:10%;
}
.bg-three{
    display: flex;
    background-image: url(images/shapes/Frame\ 57.jpg);
}
.new-display{
    display: flex;
    margin-left: 15%;
    margin-right: 0;
}
.share-width{
    width: 35%;
    padding: 0px 50px;
    height: 300px;
    width: 250px;
}
.share-width img{
    width: 70%;
}
.share-width p{
    padding-right: 25%;
}